* {
  box-sizing: border-box;
}

body {
  background-color: #d5d5d5;
  font-family: system-ui;
  margin: 0;
  padding: 0;
}
.container {
  background-color: #e9e7ea;
  width: 1000px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 50px;
  box-shadow: 0 10px 50px #858585;
  display: grid;
  grid-template-columns: 35% 60%;
  column-gap: 5%;
  row-gap: 30px;
}

.avatar img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* border-radius: 50%; */
  clip-path: circle(50%);
}
.avatar {
  display: flex;
  justify-content: end;
  align-items: center;
}
.name {
  padding-left: 30px;
  border-left: 1px solid #000;
}
.name h1 {
  font-weight: 300;
  font-size: xxx-large;
  margin: 0px 0 5px;
}
.name .specialize {
  margin: 0;
  font-weight: bold;
  letter-spacing: 3px;
}
.name .contact {
  padding: 0;
  list-style: none;
}
.name .contact div {
  display: inline-block;
  background-color: #000;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: small;
  margin-right: 20px;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    font-weight: 500;
}
.name .contact li {
  padding: 5px 0;
  transform: translate(-40px);
  background-color: #e9e7ea;
}
.hobbies h2{
    text-align: end;
}
.hobbies{
    display: flex;
    flex-direction: column;
}
.frames{
    display: flex;
    justify-content: flex-end;
}
.hobbie{
    margin-left: 4%;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
h2 {
  padding: 0;
  margin: 0 0 20px 0;
}
.intro {
  padding-left: 30px;
  border-left: 1px solid #000;
  text-align: justify;
}
.experience {
  text-align: right;
}
.experience h4 {
  margin: 20px 0 10px;
}
.skills {
  margin-top: 50px;
}
.experience ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.experience li {
  padding: 10px 0;
}
.place{
    font-weight: 500;
}
.skill{
    display: flex;
}
.skill-left{
    width: 50%;
}
.skill-right{
    width: 50%;
}
.project {
  padding-left: 30px;
  text-align: justify;
  border-left: 1px solid #000;
}
.project h4 {
  margin: 20px 0 10px;
}
.project .web {
  color: #0c7373;
  padding: 10px 0;
}
.project .location {
  font-weight: 500;
}

@media (max-width : 768px) {
   body{
   width: 100%;
   box-sizing: border-box;
   }
   .container{
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
   }
   .avatar{
    display: none;
   }
   .name{
    width: 90%;
    padding-top: 10%;
    padding-left: 5%;
    border: none;
    box-sizing: border-box;
    margin-bottom: -3%;
   }
   .name .contact li {
    transform: none;
   }
   .hobbies{
    display: none;
   }
   .intro{
    width: 90%;
    border: none;
    padding-left: 5%;
    padding-right: 5%;
    text-align:left;
    box-sizing: border-box;
   }
   .experience{
    text-align: left;
    padding-left: 10%;
    width: 100%;
    box-sizing: border-box;
  }
  .item{
    text-align: left;
    box-sizing: border-box;
  }
  .skill{
    display: flex;
    flex-direction: column;
  }
  .project{
    border: none;
    width: 100%;
    padding-left : 10%;
    padding-bottom: 5%;
  }
}